body{
		font-family: Verdana;
		font-size: 15px;
	}
	.main-header{
		/* display: inline-block; */
		/* width: 100%; */
		/* text-align: center; */
		font-size: 40px;
		color: #009999;
		/*padding: 50px 0 10px 0;*/
		text-transform: uppercase;
	}
	.main-header a, .main-header a:hover, .main-header a:active {
		text-decoration: none;
	}
	.html-assignments .col-sm-2{
		min-height: 60px;
		margin-bottom: 15px;
	}
	ul{
		padding: 0;
		list-style: none;
	}
	pre{
		white-space: pre-wrap;
		margin: 0!important;
	}
	#js-questions{
		height: 300px;
		overflow: hidden;
	}
	.js-question-holder{
		position: relative;
		border: 1px solid #000000;
	}
	.btn-expand{
		float: right;
		font-weght: normal;
		font-size: 15px;
		text-transform: uppercase;
		color: #009999;
		cursor: pointer;
		
	}
	.duration{
		font-size: 14px;
		font-weight: normal;
	}
	.section h2{
		color: #2a69a8;
	}
	.margin-top-15{
		margin-top: 15px;
	}
	.disclaimer{
		font-size: 11px;
	}
	.project-title {
		font-size: 18px;
		font-weight: bold;
	}
	.angular-assignment-list{
		margin-top: 20px;
	}
	
	
	@media screen and (max-width: 768px){
		.btn-expand{
			float: none;
			display: block;
			margin-top: 10px;
			text-align: right;
		}
		
	}

	.technology-block {
		height: 60px;
		text-align: center;
		vertical-align: middle;
		line-height: 60px;
		background-color: #009999;
		color: #fff;
		border-radius: 5px;
		cursor: pointer;
	}


.sub-topics{
	list-style: square;
	margin-left: 2.5em;
}